.tabs {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  
  .tabContent {
    padding: 4em 2em;
    color: #525151;
    font-family: "Economica", sans-serif;
    font-size: 14px;
  }
  